<%- include("partials/header") -%>


<link rel="stylesheet" href="css/styles.css">

<main class="home container col-11">

    <h1>Hi my name is Dinula</h1>


    <section class="about">

        <h2>Who.</h2>
        <p>I'm a college student.</p>

        <h2>Welcome to my site.</h2>
        <p>This website is for Reviewing topics.</p>
        <a href="/blog" class="btn btn-dark">
            Go to home
        </a>

        <h2>I'm freelancing.</h2>
        <p>You can contact me at anytime through email.</p>

        <a href="mailto: dinulaisiwara10@gmail.com" class="btn btn-dark">
            Email Me
        </a><br><br>

        <h2>Skills</h2>
        <p>Oh! I got plenty. HTML, CSS, JAVASCRIPT, REACTJS, NODEJS</p>

        <p>
            I'm also active on upwork.
        </p>
        <a href="https://www.upwork.com/freelancers/~013bb9b92ebba6a55c?viewMode=1" target="_blank" class="btn btn-dark">
            my Upwork
        </a>

    </section>

    <section class="social">

        <h4>Here are my profiles</h4>
        <a href="https://github.com/dinula1999" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/dinula-isiwara-96b631197/" class="fa fa-linkedin-square" target="_blank"></a>
        <a href="https://stackoverflow.com/users/11997526/dinula-isiwara" class="fa fa-stack-overflow" target="_blank"></a>
        <a href="https://web.facebook.com/dinula.isiwara.37" class="fa fa-facebook-square" target="_blank"></a>
        <a href="https://twitter.com/dinulajayaseka1" class="fa fa-twitter-square" target="_blank"></a>

    </section>

</main>


<section class="additional">

    enjoy the AD FREE experience

</section>


<%- include("partials/footer") -%>
