<%- include("partials/header")  -%>

<link rel="stylesheet" href="css/styles.css">

  <main class="home container">

      <h1>Computer Science</h1>
      <h2>Review Series</h2>
      
      <div class="review">
        <div class="shape"></div>
      <h3> Structure and Interpretation of programs</h3>
          <div class="line"></div>
      </div>

</main>

<%- include("partials/footer")  -%>